PORT=8080
DATABASE_URL=

# Cloudinary configs
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# CORS config
CORS_ORIGIN=*

# JWT Configs
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=10d

# Mail Configs
SMTP_USER=
SMTP_PASS=